<form>
  <div class="input-group">
    <div >
      <label for="initial">Initial Investment</label>
      <input type="number" id="initial" />
    </div>
    
    <div>
      <label for="annual">Annual Investment</label>
      <input type="number" id="annual" />
    </div>
    
    <div>
      <label for="expected">Expected Return</label>
      <input type="number" id="expected" />
    </div>
    
    <div>
      <label for="duration">Duration</label>
      <input id="duration" type="number" />
    </div>
  </div>
  <button type="button">Calculate</button>
</form>
